# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
ui/assets/js/node_modules/.package-lock.json
ui/assets/js/node_modules/.bin/tsc
ui/assets/js/node_modules/.bin/tsc.cmd
ui/assets/js/node_modules/.bin/tsc.ps1
ui/assets/js/node_modules/.bin/tsserver
ui/assets/js/node_modules/.bin/tsserver.cmd
ui/assets/js/node_modules/.bin/tsserver.ps1
ui/assets/js/node_modules/typescript/AUTHORS.md
ui/assets/js/node_modules/typescript/CODE_OF_CONDUCT.md
ui/assets/js/node_modules/typescript/CopyrightNotice.txt
ui/assets/js/node_modules/typescript/LICENSE.txt
ui/assets/js/node_modules/typescript/package.json
ui/assets/js/node_modules/typescript/README.md
ui/assets/js/node_modules/typescript/SECURITY.md
ui/assets/js/node_modules/typescript/ThirdPartyNoticeText.txt
ui/assets/js/node_modules/typescript/bin/tsc
ui/assets/js/node_modules/typescript/bin/tsserver
ui/assets/js/node_modules/typescript/lib/cancellationToken.js
ui/assets/js/node_modules/typescript/lib/lib.d.ts
ui/assets/js/node_modules/typescript/lib/lib.dom.d.ts
ui/assets/js/node_modules/typescript/lib/lib.dom.iterable.d.ts
ui/assets/js/node_modules/typescript/lib/lib.es5.d.ts
ui/assets/js/node_modules/typescript/lib/lib.es6.d.ts
ui/assets/js/node_modules/typescript/lib/lib.es2015.collection.d.ts
ui/assets/js/node_modules/typescript/lib/lib.es2015.core.d.ts
ui/assets/js/node_modules/typescript/lib/lib.es2015.d.ts
ui/assets/js/node_modules/typescript/lib/lib.es2015.generator.d.ts
ui/assets/js/node_modules/typescript/lib/lib.es2015.iterable.d.ts
ui/assets/js/node_modules/typescript/lib/lib.es2015.promise.d.ts
ui/assets/js/node_modules/typescript/lib/lib.es2015.proxy.d.ts
ui/assets/js/node_modules/typescript/lib/lib.es2015.reflect.d.ts
ui/assets/js/node_modules/typescript/lib/lib.es2015.symbol.d.ts
ui/assets/js/node_modules/typescript/lib/lib.es2015.symbol.wellknown.d.ts
ui/assets/js/node_modules/typescript/lib/lib.es2016.array.include.d.ts
ui/assets/js/node_modules/typescript/lib/lib.es2016.d.ts
ui/assets/js/node_modules/typescript/lib/lib.es2016.full.d.ts
ui/assets/js/node_modules/typescript/lib/lib.es2017.d.ts
ui/assets/js/node_modules/typescript/lib/lib.es2017.full.d.ts
ui/assets/js/node_modules/typescript/lib/lib.es2017.intl.d.ts
ui/assets/js/node_modules/typescript/lib/lib.es2017.object.d.ts
ui/assets/js/node_modules/typescript/lib/lib.es2017.sharedmemory.d.ts
ui/assets/js/node_modules/typescript/lib/lib.es2017.string.d.ts
ui/assets/js/node_modules/typescript/lib/lib.es2017.typedarrays.d.ts
ui/assets/js/node_modules/typescript/lib/lib.es2018.asyncgenerator.d.ts
ui/assets/js/node_modules/typescript/lib/lib.es2018.asynciterable.d.ts
ui/assets/js/node_modules/typescript/lib/lib.es2018.d.ts
ui/assets/js/node_modules/typescript/lib/lib.es2018.full.d.ts
ui/assets/js/node_modules/typescript/lib/lib.es2018.intl.d.ts
ui/assets/js/node_modules/typescript/lib/lib.es2018.promise.d.ts
ui/assets/js/node_modules/typescript/lib/lib.es2018.regexp.d.ts
ui/assets/js/node_modules/typescript/lib/lib.es2019.array.d.ts
ui/assets/js/node_modules/typescript/lib/lib.es2019.d.ts
ui/assets/js/node_modules/typescript/lib/lib.es2019.full.d.ts
ui/assets/js/node_modules/typescript/lib/lib.es2019.object.d.ts
ui/assets/js/node_modules/typescript/lib/lib.es2019.string.d.ts
ui/assets/js/node_modules/typescript/lib/lib.es2019.symbol.d.ts
ui/assets/js/node_modules/typescript/lib/lib.es2020.bigint.d.ts
ui/assets/js/node_modules/typescript/lib/lib.es2020.d.ts
ui/assets/js/node_modules/typescript/lib/lib.es2020.date.d.ts
ui/assets/js/node_modules/typescript/lib/lib.es2020.full.d.ts
ui/assets/js/node_modules/typescript/lib/lib.es2020.intl.d.ts
ui/assets/js/node_modules/typescript/lib/lib.es2020.number.d.ts
ui/assets/js/node_modules/typescript/lib/lib.es2020.promise.d.ts
ui/assets/js/node_modules/typescript/lib/lib.es2020.sharedmemory.d.ts
ui/assets/js/node_modules/typescript/lib/lib.es2020.string.d.ts
ui/assets/js/node_modules/typescript/lib/lib.es2020.symbol.wellknown.d.ts
ui/assets/js/node_modules/typescript/lib/lib.es2021.d.ts
ui/assets/js/node_modules/typescript/lib/lib.es2021.full.d.ts
ui/assets/js/node_modules/typescript/lib/lib.es2021.intl.d.ts
ui/assets/js/node_modules/typescript/lib/lib.es2021.promise.d.ts
ui/assets/js/node_modules/typescript/lib/lib.es2021.string.d.ts
ui/assets/js/node_modules/typescript/lib/lib.es2021.weakref.d.ts
ui/assets/js/node_modules/typescript/lib/lib.es2022.array.d.ts
ui/assets/js/node_modules/typescript/lib/lib.es2022.d.ts
ui/assets/js/node_modules/typescript/lib/lib.es2022.error.d.ts
ui/assets/js/node_modules/typescript/lib/lib.es2022.full.d.ts
ui/assets/js/node_modules/typescript/lib/lib.es2022.intl.d.ts
ui/assets/js/node_modules/typescript/lib/lib.es2022.object.d.ts
ui/assets/js/node_modules/typescript/lib/lib.es2022.string.d.ts
ui/assets/js/node_modules/typescript/lib/lib.esnext.d.ts
ui/assets/js/node_modules/typescript/lib/lib.esnext.full.d.ts
ui/assets/js/node_modules/typescript/lib/lib.esnext.intl.d.ts
ui/assets/js/node_modules/typescript/lib/lib.esnext.promise.d.ts
ui/assets/js/node_modules/typescript/lib/lib.esnext.string.d.ts
ui/assets/js/node_modules/typescript/lib/lib.esnext.weakref.d.ts
ui/assets/js/node_modules/typescript/lib/lib.scripthost.d.ts
ui/assets/js/node_modules/typescript/lib/lib.webworker.d.ts
ui/assets/js/node_modules/typescript/lib/lib.webworker.importscripts.d.ts
ui/assets/js/node_modules/typescript/lib/lib.webworker.iterable.d.ts
ui/assets/js/node_modules/typescript/lib/protocol.d.ts
ui/assets/js/node_modules/typescript/lib/README.md
ui/assets/js/node_modules/typescript/lib/tsc.js
ui/assets/js/node_modules/typescript/lib/tsserver.js
ui/assets/js/node_modules/typescript/lib/tsserverlibrary.d.ts
ui/assets/js/node_modules/typescript/lib/tsserverlibrary.js
ui/assets/js/node_modules/typescript/lib/typescript.d.ts
ui/assets/js/node_modules/typescript/lib/typescript.js
ui/assets/js/node_modules/typescript/lib/typescriptServices.d.ts
ui/assets/js/node_modules/typescript/lib/typescriptServices.js
ui/assets/js/node_modules/typescript/lib/typesMap.json
ui/assets/js/node_modules/typescript/lib/typingsInstaller.js
ui/assets/js/node_modules/typescript/lib/watchGuard.js
ui/assets/js/node_modules/typescript/lib/cs/diagnosticMessages.generated.json
ui/assets/js/node_modules/typescript/lib/de/diagnosticMessages.generated.json
ui/assets/js/node_modules/typescript/lib/es/diagnosticMessages.generated.json
ui/assets/js/node_modules/typescript/lib/fr/diagnosticMessages.generated.json
ui/assets/js/node_modules/typescript/lib/it/diagnosticMessages.generated.json
ui/assets/js/node_modules/typescript/lib/ja/diagnosticMessages.generated.json
ui/assets/js/node_modules/typescript/lib/ko/diagnosticMessages.generated.json
ui/assets/js/node_modules/typescript/lib/pl/diagnosticMessages.generated.json
ui/assets/js/node_modules/typescript/lib/pt-br/diagnosticMessages.generated.json
ui/assets/js/node_modules/typescript/lib/ru/diagnosticMessages.generated.json
ui/assets/js/node_modules/typescript/lib/tr/diagnosticMessages.generated.json
ui/assets/js/node_modules/typescript/lib/zh-cn/diagnosticMessages.generated.json
ui/assets/js/node_modules/typescript/lib/zh-tw/diagnosticMessages.generated.json
ui/assets/js/node_modules/typescript/loc/lcl/CHS/Targets/ProjectItemsSchema.xaml.lcl
ui/assets/js/node_modules/typescript/loc/lcl/CHS/Targets/TypeScriptCompile.xaml.lcl
ui/assets/js/node_modules/typescript/loc/lcl/CHS/Targets/TypeScriptProjectProperties.xaml.lcl
ui/assets/js/node_modules/typescript/loc/lcl/CHS/TypeScriptDebugEngine/TypeScriptDebugEngine.dll.lcl
ui/assets/js/node_modules/typescript/loc/lcl/CHS/TypeScriptLanguageService/Microsoft.CodeAnalysis.TypeScript.EditorFeatures.dll.lcl
ui/assets/js/node_modules/typescript/loc/lcl/CHS/TypeScriptTasks/TypeScript.Tasks.dll.lcl
ui/assets/js/node_modules/typescript/loc/lcl/CHT/Targets/ProjectItemsSchema.xaml.lcl
ui/assets/js/node_modules/typescript/loc/lcl/CHT/Targets/TypeScriptCompile.xaml.lcl
ui/assets/js/node_modules/typescript/loc/lcl/CHT/Targets/TypeScriptProjectProperties.xaml.lcl
ui/assets/js/node_modules/typescript/loc/lcl/CHT/TypeScriptDebugEngine/TypeScriptDebugEngine.dll.lcl
ui/assets/js/node_modules/typescript/loc/lcl/CHT/TypeScriptLanguageService/Microsoft.CodeAnalysis.TypeScript.EditorFeatures.dll.lcl
ui/assets/js/node_modules/typescript/loc/lcl/CHT/TypeScriptTasks/TypeScript.Tasks.dll.lcl
ui/assets/js/node_modules/typescript/loc/lcl/CSY/Targets/ProjectItemsSchema.xaml.lcl
ui/assets/js/node_modules/typescript/loc/lcl/CSY/Targets/TypeScriptCompile.xaml.lcl
ui/assets/js/node_modules/typescript/loc/lcl/CSY/Targets/TypeScriptProjectProperties.xaml.lcl
ui/assets/js/node_modules/typescript/loc/lcl/CSY/TypeScriptDebugEngine/TypeScriptDebugEngine.dll.lcl
ui/assets/js/node_modules/typescript/loc/lcl/CSY/TypeScriptLanguageService/Microsoft.CodeAnalysis.TypeScript.EditorFeatures.dll.lcl
ui/assets/js/node_modules/typescript/loc/lcl/CSY/TypeScriptTasks/TypeScript.Tasks.dll.lcl
ui/assets/js/node_modules/typescript/loc/lcl/DEU/Targets/ProjectItemsSchema.xaml.lcl
ui/assets/js/node_modules/typescript/loc/lcl/DEU/Targets/TypeScriptCompile.xaml.lcl
ui/assets/js/node_modules/typescript/loc/lcl/DEU/Targets/TypeScriptProjectProperties.xaml.lcl
ui/assets/js/node_modules/typescript/loc/lcl/DEU/TypeScriptDebugEngine/TypeScriptDebugEngine.dll.lcl
ui/assets/js/node_modules/typescript/loc/lcl/DEU/TypeScriptLanguageService/Microsoft.CodeAnalysis.TypeScript.EditorFeatures.dll.lcl
ui/assets/js/node_modules/typescript/loc/lcl/DEU/TypeScriptTasks/TypeScript.Tasks.dll.lcl
ui/assets/js/node_modules/typescript/loc/lcl/ESN/Targets/ProjectItemsSchema.xaml.lcl
ui/assets/js/node_modules/typescript/loc/lcl/ESN/Targets/TypeScriptCompile.xaml.lcl
ui/assets/js/node_modules/typescript/loc/lcl/ESN/Targets/TypeScriptProjectProperties.xaml.lcl
ui/assets/js/node_modules/typescript/loc/lcl/ESN/TypeScriptDebugEngine/TypeScriptDebugEngine.dll.lcl
ui/assets/js/node_modules/typescript/loc/lcl/ESN/TypeScriptLanguageService/Microsoft.CodeAnalysis.TypeScript.EditorFeatures.dll.lcl
ui/assets/js/node_modules/typescript/loc/lcl/ESN/TypeScriptTasks/TypeScript.Tasks.dll.lcl
ui/assets/js/node_modules/typescript/loc/lcl/FRA/Targets/ProjectItemsSchema.xaml.lcl
ui/assets/js/node_modules/typescript/loc/lcl/FRA/Targets/TypeScriptCompile.xaml.lcl
ui/assets/js/node_modules/typescript/loc/lcl/FRA/Targets/TypeScriptProjectProperties.xaml.lcl
ui/assets/js/node_modules/typescript/loc/lcl/FRA/TypeScriptDebugEngine/TypeScriptDebugEngine.dll.lcl
ui/assets/js/node_modules/typescript/loc/lcl/FRA/TypeScriptLanguageService/Microsoft.CodeAnalysis.TypeScript.EditorFeatures.dll.lcl
ui/assets/js/node_modules/typescript/loc/lcl/FRA/TypeScriptTasks/TypeScript.Tasks.dll.lcl
ui/assets/js/node_modules/typescript/loc/lcl/ITA/Targets/ProjectItemsSchema.xaml.lcl
ui/assets/js/node_modules/typescript/loc/lcl/ITA/Targets/TypeScriptCompile.xaml.lcl
ui/assets/js/node_modules/typescript/loc/lcl/ITA/Targets/TypeScriptProjectProperties.xaml.lcl
ui/assets/js/node_modules/typescript/loc/lcl/ITA/TypeScriptDebugEngine/TypeScriptDebugEngine.dll.lcl
ui/assets/js/node_modules/typescript/loc/lcl/ITA/TypeScriptLanguageService/Microsoft.CodeAnalysis.TypeScript.EditorFeatures.dll.lcl
ui/assets/js/node_modules/typescript/loc/lcl/ITA/TypeScriptTasks/TypeScript.Tasks.dll.lcl
ui/assets/js/node_modules/typescript/loc/lcl/JPN/Targets/ProjectItemsSchema.xaml.lcl
ui/assets/js/node_modules/typescript/loc/lcl/JPN/Targets/TypeScriptCompile.xaml.lcl
ui/assets/js/node_modules/typescript/loc/lcl/JPN/Targets/TypeScriptProjectProperties.xaml.lcl
ui/assets/js/node_modules/typescript/loc/lcl/JPN/TypeScriptDebugEngine/TypeScriptDebugEngine.dll.lcl
ui/assets/js/node_modules/typescript/loc/lcl/JPN/TypeScriptLanguageService/Microsoft.CodeAnalysis.TypeScript.EditorFeatures.dll.lcl
ui/assets/js/node_modules/typescript/loc/lcl/JPN/TypeScriptTasks/TypeScript.Tasks.dll.lcl
ui/assets/js/node_modules/typescript/loc/lcl/KOR/Targets/ProjectItemsSchema.xaml.lcl
ui/assets/js/node_modules/typescript/loc/lcl/KOR/Targets/TypeScriptCompile.xaml.lcl
ui/assets/js/node_modules/typescript/loc/lcl/KOR/Targets/TypeScriptProjectProperties.xaml.lcl
ui/assets/js/node_modules/typescript/loc/lcl/KOR/TypeScriptDebugEngine/TypeScriptDebugEngine.dll.lcl
ui/assets/js/node_modules/typescript/loc/lcl/KOR/TypeScriptLanguageService/Microsoft.CodeAnalysis.TypeScript.EditorFeatures.dll.lcl
ui/assets/js/node_modules/typescript/loc/lcl/KOR/TypeScriptTasks/TypeScript.Tasks.dll.lcl
ui/assets/js/node_modules/typescript/loc/lcl/PLK/Targets/ProjectItemsSchema.xaml.lcl
ui/assets/js/node_modules/typescript/loc/lcl/PLK/Targets/TypeScriptCompile.xaml.lcl
ui/assets/js/node_modules/typescript/loc/lcl/PLK/Targets/TypeScriptProjectProperties.xaml.lcl
ui/assets/js/node_modules/typescript/loc/lcl/PLK/TypeScriptDebugEngine/TypeScriptDebugEngine.dll.lcl
ui/assets/js/node_modules/typescript/loc/lcl/PLK/TypeScriptLanguageService/Microsoft.CodeAnalysis.TypeScript.EditorFeatures.dll.lcl
ui/assets/js/node_modules/typescript/loc/lcl/PLK/TypeScriptTasks/TypeScript.Tasks.dll.lcl
ui/assets/js/node_modules/typescript/loc/lcl/PTB/Targets/ProjectItemsSchema.xaml.lcl
ui/assets/js/node_modules/typescript/loc/lcl/PTB/Targets/TypeScriptCompile.xaml.lcl
ui/assets/js/node_modules/typescript/loc/lcl/PTB/Targets/TypeScriptProjectProperties.xaml.lcl
ui/assets/js/node_modules/typescript/loc/lcl/PTB/TypeScriptDebugEngine/TypeScriptDebugEngine.dll.lcl
ui/assets/js/node_modules/typescript/loc/lcl/PTB/TypeScriptLanguageService/Microsoft.CodeAnalysis.TypeScript.EditorFeatures.dll.lcl
ui/assets/js/node_modules/typescript/loc/lcl/PTB/TypeScriptTasks/TypeScript.Tasks.dll.lcl
ui/assets/js/node_modules/typescript/loc/lcl/RUS/Targets/ProjectItemsSchema.xaml.lcl
ui/assets/js/node_modules/typescript/loc/lcl/RUS/Targets/TypeScriptCompile.xaml.lcl
ui/assets/js/node_modules/typescript/loc/lcl/RUS/Targets/TypeScriptProjectProperties.xaml.lcl
ui/assets/js/node_modules/typescript/loc/lcl/RUS/TypeScriptDebugEngine/TypeScriptDebugEngine.dll.lcl
ui/assets/js/node_modules/typescript/loc/lcl/RUS/TypeScriptLanguageService/Microsoft.CodeAnalysis.TypeScript.EditorFeatures.dll.lcl
ui/assets/js/node_modules/typescript/loc/lcl/RUS/TypeScriptTasks/TypeScript.Tasks.dll.lcl
ui/assets/js/node_modules/typescript/loc/lcl/TRK/Targets/ProjectItemsSchema.xaml.lcl
ui/assets/js/node_modules/typescript/loc/lcl/TRK/Targets/TypeScriptCompile.xaml.lcl
ui/assets/js/node_modules/typescript/loc/lcl/TRK/Targets/TypeScriptProjectProperties.xaml.lcl
ui/assets/js/node_modules/typescript/loc/lcl/TRK/TypeScriptDebugEngine/TypeScriptDebugEngine.dll.lcl
ui/assets/js/node_modules/typescript/loc/lcl/TRK/TypeScriptLanguageService/Microsoft.CodeAnalysis.TypeScript.EditorFeatures.dll.lcl
ui/assets/js/node_modules/typescript/loc/lcl/TRK/TypeScriptTasks/TypeScript.Tasks.dll.lcl
